<div class='page-header'>
  <div class='pull-right'>
    <%= link_to 'New Article', new_article_path, class:'btn btn-primary pull-right' %>
    <%= link_to 'New Category', categories_path, class:'btn btn-info pull-right' %>
  </div>
  <h1>Articles listed on Gloma</h1>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Blurb</th>

      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %> </td>
        <td><%= @categories.id %></td>
        <td><%= article.blurb %></td>
        <td>
          <%= link_to "Edit", edit_article_path(article), class:'btn btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
