<div class="page-header">
  <h1><%= @article.title %></h1>
</div>
<div class="form-group">
  <div class="col-md-offset-3 col-md-6">
    <div class="well">
      <%= @article.link %>
      <%= @article.label_order %>

      <% @categories.each do |category| %>
        <%= category.category_name %>
      <% end %>

      <%= @article.blurb %>
      <%= image_tag @article.avatar.url(:medium) %>
    </div>
  </div>
</div>
