<div class="page-header">
  <h1>Title: <%= @article.title %></h1>
</div>
<div class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="well">
      <div class="form-group">
        <b>Article Link:</b>
        <%= @article.link %>
      </div>
      <div class="form-group">
        <b>Article Label Order:</b>
        <%= @article.label_order %>
      </div>
      <div class="form-group">
        <b>Article Categories:</b>
        <% @categories.each do |category| %>
          <%= category.category_name %>, 
        <% end %>
      </div>
      <div class="form-group">
        <b>Article Blurb:</b>
        <%= @article.blurb %>
      </div>
      <div class="form-group">
        <b>Article Image:</b>
        <%= image_tag @article.avatar.url(:medium) %>
      </div>
    </div>
  </div>
</div>
