<div class='page-header'>
  <h1>Categories listed on Gloma</h1>
</div>

<%= form_for @category do |f| %>
  <div class='form-group'>
    <%= f.label :category_name, class: 'col-md-2 control-label' %>
    <div class='col-md-5'>
      <%= f.text_field :category_name, class: 'form-control' %>
    </div>
    <%= f.submit "Create Category", class:'btn btn-info' %>
  </div>
<% end %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.category_name %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
